*node_modules/
.idea/
javascript-avancado-i/aluraframe/client/js/app/**/*.js
*.js.map
*.min.map
*projeto-webpack/client/app/
projeto-webpack/client/dist
typescript/alurabank/app/js/**/*.js
typescript/alurabank/app/js/app.js
