.citacao-bio {
    background-color: #D9E5E3;
    border: 10px solid #C2CCCA;
    padding: 20px;
    margin: 20px 40px;
    width: 250px;
    box-sizing: border-box;
}

.fiat {
    float: right;
    margin-right: 0;
}

.petrobras {
    float: left;
    margin-left: 0;
}