body {
	background-color: #CDA22A;
	font-family: Century Gothic, sans-serif;
	width: 940px;
	margin-left: auto;
	margin-right: auto;
}

h2 {
	background-color: #87A5DD;
	padding: 5px;
	color: #FFF;
}

#tabela-rubik {
	width: 40%;
	margin: auto;
	border: 1px solid black;
}

#tabela-rubik th {
	background-color: #FFF;
}

nav ul li {
	display: inline;
	margin-right: 50px;
}

#topo {
	text-align: center;
}