body {
  font-family: "Crimson Text", serif;
  background-color: #F2FFFC;
  font-size: 120%;
}

h1, h2 {
  font-family: "Open Sans Condensed", sans-serif;
}

main h1 {
  text-align: center;
  color: white;
  background-color: #851944;
  font-size: 60px;
}

main {
  color: #851944;
}

p {
  text-align: justify;
}

blockquote {
  background-color: #D9E5E3;
}

aside {
  background-color: #3C1D3D;
  color: #F2FFFC;  
}

aside a {
  font-family: "Open Sans Condensed", sans-serif;
  color: inherit;
}

footer {
  background-color: #000;
  color: #F2FFFC;
}