* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 100%;
  line-height: 1.3em;
  font-family: 'Open Sans', sans-serif;
  list-style: none;
}

img { max-width: 100%; }

section div,
header div,
footer div {
  width: 780px;
  margin: 0 auto;
  padding: 30px 0;
  text-align: center;
}

h2 {
  font-weight: 800;
  font-size: 24px;
  color: #FED136;
  text-transform: uppercase;
  margin-bottom: 20px;
}

h3 {
  font-size: 16px;
  font-weight: 800;
  margin-bottom: 20px;
}

header {
  position: absolute;
  margin: 0 auto;
}

section:nth-child(even) {
  background: #EFEFEF;
}

p {
  color: #989898;
}

p + h3 { margin-top: 15px; }

section div p:last-of-type { margin-bottom: 15px; }

a {
  text-decoration: none;
}

ul{ display: inline-block; }

ul, ul + ul { margin-bottom: 20px; }

ul li { 
  display: inline-block;
  margin-left: 15px;
}

nav li a {
  text-transform: uppercase;
  color: #FFFFFF;
}

button {
  color: #FFFFFF;
  padding: 10px 20px;
  background: #FED136;
  border: 0;
  border-radius: 5px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 14px;
}

.segmentos li {
  width: 100px;
  font-size: 14px;
  font-weight: 700;
}

#destaque {
  /*Corrigir bg do header/section*/
  background: url('../images/bg-header.jpg') no-repeat center;
}

#destaque div {
  margin: 0 auto;
  padding-top: 200px;
}

#destaque p {
  color: #FFFFFF;
  font-style: italic;
  font-size: 30px;
}

#destaque h2 {
  font-size: 50px;
  font-weight: 800;
}

#destaque button {
  padding: 15px 40px;
}

#fale-conosco {
  background: url('../images/bg-footer.jpg');
  background-size: 100%;
  height: 670px;
  color: #FFFFFF;
}

#fale-conosco button {
  padding: 10px 40px;
}

.equipe li {
  width: 20%;
  margin-left: 25px;
}

.equipe li figure img {
  border-radius: 75px;
  border: 5px solid #FFFFFF;
  margin-bottom: 10px;
}

.equipe figure figcaption {
  font-weight: 800;
}

.equipe figure span {
  font-size: 12px;
  color: #989898;
}

.recursos {
  display: inline-block;
  width: 100%;
  padding: 15px 0;
}

.recursos img {
  width: 35%;
  float: right;
  margin-top: 15px;
}

.recursos div > div {
  float: left;
  width: 60%;
  padding: 0;
  margin: 10px auto;
  text-align: left;
}

.recursos h3 {
  font-size: 22px;
}